HolidayReservationSystemJavaSeClient/src/META-INF/wsdl/localhost_8080/HoRSWebService/HoRSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HoRSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HoRSWebService/HoRSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPartnerByEmail">
<part name="parameters" element="tns:getPartnerByEmail"/>
</message>
<message name="getPartnerByEmailResponse">
<part name="parameters" element="tns:getPartnerByEmailResponse"/>
</message>
<message name="getReservationByReservationId">
<part name="parameters" element="tns:getReservationByReservationId"/>
</message>
<message name="getReservationByReservationIdResponse">
<part name="parameters" element="tns:getReservationByReservationIdResponse"/>
</message>
<message name="checkPartnerExists">
<part name="parameters" element="tns:checkPartnerExists"/>
</message>
<message name="checkPartnerExistsResponse">
<part name="parameters" element="tns:checkPartnerExistsResponse"/>
</message>
<message name="retrieveAllPartners">
<part name="parameters" element="tns:retrieveAllPartners"/>
</message>
<message name="retrieveAllPartnersResponse">
<part name="parameters" element="tns:retrieveAllPartnersResponse"/>
</message>
<message name="createNewReservationWithThreeRatesUsed">
<part name="parameters" element="tns:createNewReservationWithThreeRatesUsed"/>
</message>
<message name="createNewReservationWithThreeRatesUsedResponse">
<part name="parameters" element="tns:createNewReservationWithThreeRatesUsedResponse"/>
</message>
<message name="createNewReservationWithOneRateUsed">
<part name="parameters" element="tns:createNewReservationWithOneRateUsed"/>
</message>
<message name="createNewReservationWithOneRateUsedResponse">
<part name="parameters" element="tns:createNewReservationWithOneRateUsedResponse"/>
</message>
<message name="createNewReservationWithTwoRatesUsed">
<part name="parameters" element="tns:createNewReservationWithTwoRatesUsed"/>
</message>
<message name="createNewReservationWithTwoRatesUsedResponse">
<part name="parameters" element="tns:createNewReservationWithTwoRatesUsedResponse"/>
</message>
<message name="createNewReservationWithFourRatesUsed">
<part name="parameters" element="tns:createNewReservationWithFourRatesUsed"/>
</message>
<message name="createNewReservationWithFourRatesUsedResponse">
<part name="parameters" element="tns:createNewReservationWithFourRatesUsedResponse"/>
</message>
<message name="isRoomTypeAvailableForReservation">
<part name="parameters" element="tns:isRoomTypeAvailableForReservation"/>
</message>
<message name="isRoomTypeAvailableForReservationResponse">
<part name="parameters" element="tns:isRoomTypeAvailableForReservationResponse"/>
</message>
<message name="getRoomTypeFromReservationId">
<part name="parameters" element="tns:getRoomTypeFromReservationId"/>
</message>
<message name="getRoomTypeFromReservationIdResponse">
<part name="parameters" element="tns:getRoomTypeFromReservationIdResponse"/>
</message>
<message name="getPartnerReservation">
<part name="parameters" element="tns:getPartnerReservation"/>
</message>
<message name="getPartnerReservationResponse">
<part name="parameters" element="tns:getPartnerReservationResponse"/>
</message>
<message name="getAllRoomTypes">
<part name="parameters" element="tns:getAllRoomTypes"/>
</message>
<message name="getAllRoomTypesResponse">
<part name="parameters" element="tns:getAllRoomTypesResponse"/>
</message>
<message name="getRoomRates">
<part name="parameters" element="tns:getRoomRates"/>
</message>
<message name="getRoomRatesResponse">
<part name="parameters" element="tns:getRoomRatesResponse"/>
</message>
<message name="getAllPartnerReservations">
<part name="parameters" element="tns:getAllPartnerReservations"/>
</message>
<message name="getAllPartnerReservationsResponse">
<part name="parameters" element="tns:getAllPartnerReservationsResponse"/>
</message>
<portType name="HoRSWebService">
<operation name="getPartnerByEmail">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getPartnerByEmailRequest" message="tns:getPartnerByEmail"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getPartnerByEmailResponse" message="tns:getPartnerByEmailResponse"/>
</operation>
<operation name="getReservationByReservationId">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getReservationByReservationIdRequest" message="tns:getReservationByReservationId"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getReservationByReservationIdResponse" message="tns:getReservationByReservationIdResponse"/>
</operation>
<operation name="checkPartnerExists">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/checkPartnerExistsRequest" message="tns:checkPartnerExists"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/checkPartnerExistsResponse" message="tns:checkPartnerExistsResponse"/>
</operation>
<operation name="retrieveAllPartners">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/retrieveAllPartnersRequest" message="tns:retrieveAllPartners"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/retrieveAllPartnersResponse" message="tns:retrieveAllPartnersResponse"/>
</operation>
<operation name="createNewReservationWithThreeRatesUsed">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithThreeRatesUsedRequest" message="tns:createNewReservationWithThreeRatesUsed"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithThreeRatesUsedResponse" message="tns:createNewReservationWithThreeRatesUsedResponse"/>
</operation>
<operation name="createNewReservationWithOneRateUsed">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithOneRateUsedRequest" message="tns:createNewReservationWithOneRateUsed"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithOneRateUsedResponse" message="tns:createNewReservationWithOneRateUsedResponse"/>
</operation>
<operation name="createNewReservationWithTwoRatesUsed">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithTwoRatesUsedRequest" message="tns:createNewReservationWithTwoRatesUsed"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithTwoRatesUsedResponse" message="tns:createNewReservationWithTwoRatesUsedResponse"/>
</operation>
<operation name="createNewReservationWithFourRatesUsed">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithFourRatesUsedRequest" message="tns:createNewReservationWithFourRatesUsed"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/createNewReservationWithFourRatesUsedResponse" message="tns:createNewReservationWithFourRatesUsedResponse"/>
</operation>
<operation name="isRoomTypeAvailableForReservation">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/isRoomTypeAvailableForReservationRequest" message="tns:isRoomTypeAvailableForReservation"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/isRoomTypeAvailableForReservationResponse" message="tns:isRoomTypeAvailableForReservationResponse"/>
</operation>
<operation name="getRoomTypeFromReservationId">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getRoomTypeFromReservationIdRequest" message="tns:getRoomTypeFromReservationId"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getRoomTypeFromReservationIdResponse" message="tns:getRoomTypeFromReservationIdResponse"/>
</operation>
<operation name="getPartnerReservation">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getPartnerReservationRequest" message="tns:getPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getPartnerReservationResponse" message="tns:getPartnerReservationResponse"/>
</operation>
<operation name="getAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getAllRoomTypesRequest" message="tns:getAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getAllRoomTypesResponse" message="tns:getAllRoomTypesResponse"/>
</operation>
<operation name="getRoomRates">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getRoomRatesRequest" message="tns:getRoomRates"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getRoomRatesResponse" message="tns:getRoomRatesResponse"/>
</operation>
<operation name="getAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getAllPartnerReservationsRequest" message="tns:getAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getAllPartnerReservationsResponse" message="tns:getAllPartnerReservationsResponse"/>
</operation>
</portType>
<binding name="HoRSWebServicePortBinding" type="tns:HoRSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPartnerByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPartnerExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllPartners">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservationWithThreeRatesUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservationWithOneRateUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservationWithTwoRatesUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservationWithFourRatesUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isRoomTypeAvailableForReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomTypeFromReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HoRSWebService">
<port name="HoRSWebServicePort" binding="tns:HoRSWebServicePortBinding">
<soap:address location="http://localhost:8080/HoRSWebService/HoRSWebService"/>
</port>
</service>
</definitions>